<div class="row align-center mb-5 post">
  <div class="card w-90" post-id="{{id}}">
    <div class="card-header">
      <h1 class="display-inline">{{title}}</h1>
      <p class="display-inline ml-auto">Posted by {{user.name}}</p>
    </div>
    <div class="card-body">
      <p>{{body}}</p>
    </div>
  </div>
</div>
  