<div class="card">
    <div class="card-header">
        <input type="text" class="w-100" value="{{post.title}}" />
    </div>
    <div class="card-body">
        <textarea class="w-100">{{post.body}}</textarea>
    </div>
    <div class="display-flex justify-center">

        <button class="btn btn-primary m-1">Edit Post</button>
    </div>
</div>